@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.header-content {
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    height: 80px;
    padding: 0 218px 0 217px;
    box-shadow: 0px 1px 4px 1px #00000040;

    .logo-content {
        width: auto;
        margin: 12px 0 12px 0;
    }

    .nav-content {

        ul {
            height: 80px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 24px 0 36px 0;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 16.7353px;
            line-height: 20px;
            color: #000000;
        }

        li {
            list-style: none;
            margin-right: 14px;
        }

        li:nth-last-child(1) {
            list-style: none;
            margin-right: 0;
        }
    }
}

.main-content {
    .cover-content{
        display: flex;
        flex-direction: column;
    }
}