@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: Montserrat;
}

body {
  background-color: #FAFAFA;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #FFFFFF;
  height: 80px;
  padding: 0 218px 0 217px;
  -webkit-box-shadow: 0px 1px 4px 1px #00000040;
          box-shadow: 0px 1px 4px 1px #00000040;
}

.header-content .logo-content {
  width: auto;
  margin: 12px 0 12px 0;
}

.header-content .nav-content ul {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 24px 0 36px 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16.7353px;
  line-height: 20px;
  color: #000000;
}

.header-content .nav-content li {
  list-style: none;
  margin-right: 14px;
}

.header-content .nav-content li:nth-last-child(1) {
  list-style: none;
  margin-right: 0;
}

.main-content {
  margin: 164px 190px 164px 190px;
}

.main-content .cover-content {
  width: 100%;
  height: 356px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 142px;
}

.main-content .cover-content .content-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 8% 8% 8% 0;
}

.main-content .cover-content .content-title h1 {
  font-weight: 800;
  font-size: 43.8873px;
  line-height: 53px;
}

.main-content .cover-content .content-title h1 span {
  color: #45DF67;
}

.main-content .cover-content .content-title .button-content {
  margin-top: 23.35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-content .cover-content .content-title .button-content .detail-button {
  margin-right: 11.49px;
}

.main-content .cover-content .content-title .button-content .detail-button button {
  color: white;
  background-color: #45DF67;
  width: 229.74px;
  height: 36.37px;
  -webkit-box-shadow: 0px 3.82892px 6.70061px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3.82892px 6.70061px rgba(0, 0, 0, 0.25);
  border-radius: 5.74338px;
}

.main-content .cover-content .content-title .button-content .book-button button {
  background-color: white;
  color: black;
  width: 168.47px;
  height: 35.18px;
  border: 0.925668px solid #45DF67;
  border-radius: 5.55401px;
}

.main-content .card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 89px;
}

.main-content .card-content .card-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 325px;
  height: 179px;
  margin-right: 15px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.main-content .card-content .card-detail:nth-last-child(1) {
  margin-right: 0;
}

.main-content .card-content .card-detail span {
  color: #45DF67;
}

.main-content .card-content .card-detail h2 {
  font-weight: normal;
  font-size: 20.699px;
}

.main-content .card-content .card-detail p {
  font-weight: bold;
  font-size: 36.8178px;
}

.main-content .lower-detail-content {
  width: 100%;
  height: 799px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-content .lower-detail-content img {
  width: 495px;
}

.main-content .lower-detail-content .destination-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 60px;
  margin-right: 30px;
}

.main-content .lower-detail-content .destination-content h2 {
  margin-bottom: 19px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 45px;
}

.main-content .lower-detail-content .destination-content h2 span {
  color: #FAFF00;
}

.main-content .lower-detail-content .destination-content h2 span:nth-last-child(1) {
  color: #45DF67;
}

.main-content .lower-detail-content .destination-content p {
  margin-bottom: 19px;
  text-align: start;
  font-size: 21.6589px;
  line-height: 26px;
}

.main-content .lower-detail-content .destination-content button {
  width: 312px;
  height: 38px;
  background-color: #45DF67;
  color: white;
  -webkit-box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
}
/*# sourceMappingURL=style.css.map */