.header-content {
    display: flex;
    background-color: grey;
    height: 50px;

    .logo-content {
        background-color: red;
    }

    .nav-content {
        background-color: blue;
    }
}